body{
  background-color: #C63915;
}

body #banniere{
  list-style-type: none;
  width: 100%;
  height:75px;

}

body #banniere ul{
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

body #banniere input{
  float: right;
}
